@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type=text] {
    border-radius: 10px;
    border: 3px solid gainsboro;
    outline: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

input[type=text]:focus {
    border-color: rgb(139, 139, 139);
}

button[type=submit] {

} */